@tailwind base;
@tailwind components;
@tailwind utilities;

/* #1b1b1b card bg */
/* button #e53e25 */
/* border #252525 */


  #cards:hover > .card::after {
  opacity: 1;
  }
  
  .card {
  background-color: #1b1b1b;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  width: 100%;  
  }
  
  .card:hover::before {
  opacity: 1;
  }
  
  .card::before,
  .card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
  }
  
  .card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
  }
  
  .card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
  }
  
  .card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  }
  
@layer components {
  .card {
    @apply bg-[#1b1b1b] text-white/75 px-6 mb-3 py-8 border-[1px] border-[#252525] rounded-xl w-full
  }
  .active {
    @apply text-[#e53e25] font-semibold
  }
  .heading {
    @apply text-white font-semibold text-lg
  }
}